<nav class="sidebar-nav" aria-label="Section navigation">
  <div class="sidebar-inner">
    <div class="sidebar-title text-center">{{ site.title }}</div>
    <div class="sidebar-subtitle text-center">{{ site.subtitle }}</div>

    <ul class="sidebar-links">
        <li><a href="#page-top"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
        <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
    </ul>
  </div>
</nav>